body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Lato", sans-serif;
    background: linear-gradient(75deg, #008cff9c, #9309fc77); ;
}

.action {
    display: flex; 
    align-items: center;
}

.action button {
    padding: 4px 8px;
    border: none;
    background-color: white;
}

.budget {
    width: 36vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}

.card {
    display: grid;
    gap: 10px;
    width: 75%;
    margin: auto;
    margin-top: 4vh;
    /* margin-left: 80px;
    margin-right: 80px; */
    text-align: center;
}

.content {
    padding: 1vw;
    box-sizing: border-box;
}

.content input {
    width: 90%;
    height: 4vh;
    margin: 1vh 2vh;
}

.content button {
    margin: 2vh;
    color: white;
    background: linear-gradient(75deg, #008cff, #3d00d6bd); 
    border: none;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
}

.content input[type='number']::-webkit-outer-spin-button,
.content input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.data {
    width: 75%;
    margin: auto;
    /* height: 14vh; */
    /* background-color: #7C00FE; */
    margin-top: 4vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.error {
    color: red;
    font-size: 14px;
}


.header {
    height: 7vh; 
    /* background: linear-gradient(75deg, #008cff, #3d00d6bd);  */
    background: linear-gradient(75deg, #1E201E, #1e201eb9); 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    color: white; 
    font-weight: 500; 
    font-size: 20px;
}

.header span {
    position: relative; 
    padding: 10px; 
    bottom: -7px;
}

.hide {
    display: none;
}

.logo {
    font-size: 12px ;
    padding: 6px 9px; 
    border-radius:50%; 
    background-color: #F5004F; 
    border: none;
}

.navbar {
    /* background-color: #7C00FE; */
    width: 100%;
    height: 9vh;
    color: white;
    display: flex;
    justify-content: space-between;
}
.navbar p {
    padding: 0 1vw;
}

.navbar .fp {
    font-weight: 700; 
    font-size: 20px;
}

.navbar .sp {
    font-weight: 600; 
    font-size: 16px; 
    margin-top: 18px;
}

.navbar .sp i {
    padding-right: 5px;
}

.item2 {
    grid-row: 1;
    grid-column: 2;
}


.values {
    width: 25%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.4);
    /* background-color: white; */
    color: white;
    /* transform: scale(1.2); */
}

.values img {
    height: 40px;
    width:40px;
    float: left; 
    margin-top: 20px; 
    margin-left: 20px;
}

.first {
    background: linear-gradient(75deg, #B60071, #b60070b7);
}

.second {
    background: linear-gradient(75deg, #2513ab , #4C3BCF) ;
}

.third {
    background: linear-gradient(93deg, #028391 , #028391ad)
}

.list {
    width: 75%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    margin-top: 4vh;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.list-head {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    font-size: 18px;
    background-color: white;
}

.list-item {
    /* background-color: rgb(199, 226, 245); */
    background-color: white;
    border-left: 5px solid #7C00FE;
    justify-content: space-between;
    width: 75%;
    padding: 5px;
    margin: auto;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.fa-trash {
    color: red;
    cursor: pointer;
}

.fa-pen-to-square {
    color: rgba(0, 0, 255, 0.808);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .list {
        width: 85%;
    }

    .data {
        width: 90%;
    }

    .values img{
        float: none;
        margin: auto;
        margin-top: 10px;
    }

    .item2 {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    .item1 {
        width: 100%;
    }
}

